<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BAMSConnection"
			 connectionString="Server=localhost;Database=BAMS_DB;User Id=eijeizs;Password=aspiringrapper3;TrustServerCertificate=True;"
			 providerName="Microsoft.Data.SqlClient"/>
	</connectionStrings>
</configuration>